# Node.js / Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.output/
frontend/.env
frontend/.env*.local

# Python / Backend
backend/node_modules/
backend/__pycache__/
backend/.env
backend/.env*.local

# General
.env
.env*.local
*.log
*.lock
.DS_Store
Thumbs.db

# IDEs and editors
/.idea
.vscode/
*.sublime-workspace
*.sublime-project
*.code-workspace
.project
.classpath
*.launch
.settings/

# System Files
.DS_Store
Thumbs.db

# Vercel/Netlify/Deploy
.vercel/
.netlify/
.output/
.wrangler/
app.config.timestamp_*.js

# Misc
dist
